<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>

<h1>Here are all the naps for <%= @baby.name %></h1>

<ol type="1">
<% @naps.each do |nap| %>
	<li><a href="/naps/<%= nap.id %>">Nap Details</a></li>
		<ul>
			<li>Start Time: <%= nap.start_time %></li>
			<li>End Time: <%= nap.end_time %></li>
			<li>Notes: <%= nap.notes %></li>
		</ul>
<% end %>
</ol>

<a href="/babies/<%= @baby.id %>/new">Enter a New Nap</a>