<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>

<h1>Here are all the naps for <%= @baby.name.capitalize %></h1>

<p>Birthday: <%= @baby.birthday %></p>
<p><a href="/babies/<%= @baby.id %>/edit">Edit <%= @baby.name.capitalize %></a> | <a href="/babies/<%= @baby.id %>/new">Enter a New Nap</a></p>


<ol type="1">
<% @naps.each do |nap| %>
	<li>Nap Length: <%= (nap.end_time - nap.start_time) / 1.minutes %> minutes <a href="/naps/<%= nap.id %>">(Details)</a></li>
<% end %>
</ol>

<p><form method="POST" action="/babies/<%= @baby.id %>/delete">
	<input id="hidden" type="hidden" name="_method" value="delete">
	<input type="submit" value="Delete <%= @baby.name.capitalize %>" id="Delete Baby">
</form></p>