<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>


<h1>Nap Details for <%= @baby.name.capitalize %></h1>

<p>Nap Start Time: <%= @nap_start %></p>
<p>Nap End Time: <%= @nap_end %></p>
<p>Notes: <%= @nap.notes %></p>

<p><a href="/naps/<%= @nap.id %>/edit">Edit Nap</a></p>
<p><form method="POST" action="/naps/<%= @nap.id %>/delete">
	<input id="hidden" type="hidden" name="_method" value="delete">
	<input type="submit" value="Delete Nap" id="Delete Nap">
</form></p>